* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #90d7ff;
    padding: 30px 20px;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
}

h1 {
    text-align: center;
    margin: 5%;
}

.centered-text {
    text-align: center;
}

.about-section img {
    max-width: 90vw;
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.cat-images img {
    padding: 30px;
}

.contact-section section, contact-section form {
    margin: 5%;
}

.contact-form {
    border: 3px solid gray;
    padding: 35px 25px 30px 25px;
}

.contact-form input {
    margin-bottom: 5px;
}

#hero-image {
    width: 100vw;
}

@media screen and (min-width: 480px) {
    .about-section {
        display: flex;
        flex-direction: row-reverse;
    }

    .about-section img {
        max-width: 40%;
        height: auto;
    }
    }
    }
}
